/* Per buona pratica elimino i bordi e i margini del browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eseguo un piccolo test se il file del css funziona correttamente
 * {background-color: red;} */

 #container {
  width: 100vw;
  height: 100%;
}

.ista, .wawa, .mad {
  width: 33vw;
  height: 100vh;

  background: no-repeat;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 0;
}

 .layer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(160, 160, 160, 0.4);
   z-index: 3;
 }

/* Chiedere come mai se applico   background-size: cover; a tutte e 3 classi insieme non funziona invece
se le inserisco ad ogni città singolarmente funziona perfettamente */

.ista {
  background: url(img/ista.jpg);
  background-size: cover;
}

.wawa {
  background: url(img/wawa.jpg);
  background-size: cover;
}

.mad {
  background: url(img/mad.jpg);
  background-size: cover;

}

/* Chiedere come mai non riesco a cambiare i 3 div in una classe sola perchè tutto va a rotoli altrimenti */

#lay, #lay2, #lay3 {
  position: relative;
  width: 33vw;
  height: 100vh;
  background-color: rgba(233,233,240,0.7);
}


.title {
  font-family: Arial, sans-serif;
  font-size: 45px;
  text-align: center;
  position: relative;
  color: black;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  z-index: 1;
}
